<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    helko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko worldhelko world helko world
    <div class="modal" id="modal" onclick="hideModal()">
        <div class="card" onclick="event.stopPropagation()">
            <h3>Are you sure you want to delete this company?</h3>
            <button class="button secondary-btn" type="button">Delete</button>
            <button class="button primary-btn" type="button" onclick="hideModal()">Cancel</button>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>